name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          wget -O clips_642.zip https://sourceforge.net/projects/clipsrules/files/CLIPS/6.4.2/clips_core_source_642.zip/download
          unzip clips_642.zip -d clips_temp
          mkdir clips_source
          mv clips_temp/clips_core_source_642/core/* clips_source/
          rm -rf clips_temp clips_642.zip
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
